# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env
.env
.env.*
venv/
PMvenv/
.Python

# Dist / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE
.idea/
.vscode/
*.swp

# Testing
.coverage
htmlcov/
.pytest_cache/

# Migrations artifacts
alembic.ini

# Docker
*.log

